<%- include('./partials/header.ejs') %>
  <%- include('./partials/nav.ejs') %>

    <div class="edit-title">
      <h3>Editing <%=dogtoy.name%> </h3>
    </div>
    <form class="form" action="/maidenschoice/<%=dogtoy.id%>?_method=POST" method="POST" enctype="multipart/form-data">
      <label>
        <span  class="input">Name of Toy:</span>
        <input type="text" name="name" value="<%=dogtoy.name%>"/>
      </label>

      <label>
        <span class="input">Brand of Toy:</span>
        <input type="text" name="brand" value="<%=dogtoy.brand%>"/>
      </label>

      <label>
        <!-- <span class="input">Toy Image URL:</span>
          <input type="text" name="img" value="<%=dogtoy.img%>"/>
        <p> OR </p> -->
        <p class="input">Upload Toy Image</p>
       <input type="file" name="img" >
      </label>

      <!-- <label>
        <span class="input">Size of Dog:</span>
        <input type="number" name="size" value="<%=dogtoy.size%>"/>
      </label> -->

      <button>Update Toy</button>
    </form>

    <a href="/maidenschoice/<%=dogtoy.id%>" class="back-button" >Back</a>

<%- include('./partials/footer.ejs') %>
