<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>


    <div class="title">
      <h1>Maiden's Choice!</h1>
    </div>

    <div class="container">
    <ul class="toyList">
      <% for (let i = 0; i < dogtoys.length ; i++) { %>
        <li class="toyItem">
          <p class="toyName"> <%=dogtoys[i].name%> </p>
          <a href="/maidenschoice/<%=dogtoys[i].id%>" class="toyLink">
            <img class="toyImage" src="images/<%=dogtoys[i].img%>" alt="Image of <%=dogtoys[i].name%>" />

          </a>
           <!-- <%# Need to add Star Rating %> -->
        </li>
      <%}%>
    </ul>
  </div>

<%- include('./partials/footer.ejs') %>
